        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



            header {
                background-color: blue;
            }


           .div_del_header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            background-color: #f8f8f8;
            padding: 1rem;
        }


        nav a {
            color: rgb(22, 18, 18);
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
            transition: background-color 0.3s;
        }

        nav a:hover {
            background-color: #b9b8b8;
            border-radius: 4px;
        }





    main {
        background-color: white;
    }

    .galeria-vehiculos {
    display: grid;         /* Coloca los vehiculos en fila */
    gap: 15px;             /* Espacio entre ellos */
    margin: 0 auto;                         /* Centrar la galería */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    }

    .vehiculo {
        max-width: 500px;      /* Para que no se haga demasiado grande */
        text-align: center;    /* Centrar info */
        }

    